/*#fad641 lighter yellow*/
.options{
    background-color: #F3E9C0;
    border-radius: 10px;
    box-shadow: -2px -2px 3px  #DD0000,2px 2px 3px   #000000;
    list-style: none;
    text-align: center;
    width: 150px;
    height: 60px;
    margin: 20px;
    cursor: pointer;
}

#options_0:hover{
    background-color: #DD0000;
    color: #FFCE00;
}
#options_1:hover{
    background-color: #FFCE00;

}
#options_2:hover{
    background-color: #000000;
    color: #FFCE00;
}
#options{
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    color: #DD0000;
    left: 0;
    margin: auto;
    width: 70%;
    margin-top: 20px;
    border-width: 5px;
    box-shadow: -2px -2px 3px  #DD0000,2px 2px 3px   #000000;
    border: solid;
    background-color: #FFCE00;
    padding: 20px;
}
#ask{
    padding-top: 40px;
    text-align: center;
    display: none;
    width: 70%;
    left: 0;
    margin: auto;
    color: #DD0000;
    background-color: #FFCE00;
    border: solid #FFCE00 2px ;
    box-shadow: 6px 6px 6px #DD0000, 6px 6px 6px inset #000000;
}
#next{
    display: none;
    -webkit-appearance: none;
     box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px -5px 1px -2px rgba(0,0,0,0.05);
    background-color: #FFCE00;
    border-radius: 5px;
    border-color: #DD0000;
    margin-bottom: 20px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}
#whatQuestions{
    left: 0%;
    right: 0%;
    margin: auto;
    width: 70%;
    text-align: center;
    border: solid;
    border-color: #DD0000;
    box-shadow: 2px 2px 2px inset #DD0000, -2px 2px 2px  #000000,2px -2px 2px  #000000, -1px 1px 2px inset #000000,1px -1px 2px inset  #c11f2a;
    border-width: 10px;
    padding-bottom: 20px;
    font-size: 17px;
    background-color: #FFCE00;
}

.verbIdentify{
    margin: 15px;
    border-width: 5px;
    border: solid #DD0000;
    box-shadow: 2px 2px 5px inset #DD0000;
    padding: 20px;
   
}
#question{
    margin: auto;
    left: 0;
    border-width: 5px;
    border: solid;
    padding: 20px;
    box-shadow: -3px -3px 4px  #DD0000,3px 3px 4px   #000000;
    background-color: #FFCE00;
    width: 40%;
    word-spacing: 10px;
}
#definition{
    margin: auto;
    left: 0;
    width: 40%;
    margin-top: 20px;
    border-width: 5px;
    box-shadow: -2px -2px 3px  #DD0000,2px 2px 3px   #000000;
    border: solid;
    background-color: #FFCE00;
    padding: 20px;
}
label{
    margin: 10px;
    border-radius: 7px;
    border: 2px solid #000000;
    box-shadow: 1px 1px 1px inset #000000;
    padding: 5px;
    align-content: space-between 20px;
    display: inline-block;
    position: relative;
    background-color: #000000;
    color: #FFCE00;
}
legend{
    margin-bottom: 20px;
    color: #DD0000;
}
.tenseType{
    border-top: dotted 2px #DD0000 ;
    padding-top: 20px;
    text-decoration: underline;
}
.verbType{
    text-decoration: underline solid;
}
#oneByone{
    text-decoration: underline solid;
}
.checkbox{
   /* -webkit-appearance: none;*/
   margin: 2px;
   display: inline-block;
   position: relative;
   border-radius: 5px;
   cursor: pointer;
}
#start{
     -webkit-appearance: none;
     box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px -5px 1px -2px rgba(0,0,0,0.05);
    background-color: #FFCE00;
    border-radius: 5px;
    border-color: #DD0000;
    cursor: pointer;
    width: 80px;
    height: 30px;
}

select{
    color: #fdfaec;
    background-color: #000000;
    margin-bottom: 20px;
    box-shadow: 2px -2px 5px #DD0000;
}
#leftspace{
    width: 20%;
    float: left;
   
}
#rightspace{
    width: 20%;
    float: right;
 
}
#pageName{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    width: 50%;
    left: 0;
    margin: auto;
    color: #DD0000;
    position: relative;
}
sup{
    font-size: 12px;
    position: absolute;
}
#langChoose a{
    text-decoration: none;
    font-size: 13px;
    color: #000000;
}
#langChoose{
    float: right;
   
}
#titlenav{
    font-weight: bolder;
    float: left;
    font-size: 20px;
    color: #DD0000;
}
#upline{
    background-color: #FFCE00;
    height: 35px;
    padding-left: 7px;
    padding-right: 7px;

}
#upline span{
    transform: translateY(30%);
}
#flag{
    width: 5%;
    position: absolute;
    margin-left: 20px;
    transform: translateY(50%);
}
section {
    display: block;
}
aside {
    display: block;
}
main{
    display: block;
}