/*body{*/
/*    font-family: "Century Gothic";*/
/*    font-weight: normal;*/
/*}*/
.options{
    background-color: #d9d9d9;
    color: #3c6e71;
    /*color: white;*/
    border-radius: 10px;
    border-color: #d9d9d9;
    /*box-shadow: -4px -4px 3px  #FFCE00,4px 4px 3px   #000000;*/
    list-style: none;
    text-align: center;
    width: 200px;
    height: 60px;
    margin: 20px;
    cursor: pointer;
    font-family: "Century Gothic";
    font-weight: bold;
    /*font-size: large;*/
}
/*.options:hover{*/
/*    border-color: #DD0000;*/
/*    border-width: 4px;*/
/*    box-shadow:  -4px -4px 4px  #000000,4px -4px 4px  #000000, 4px 4px 4px  #000000,-4px 4px 4px  #000000, inset -4px -4px 4px  #FFCE00, inset 4px -4px 4px  #FFCE00, inset -4px 4px 4px  #FFCE00, inset 4px 4px 4px  #FFCE00;*/
/*    color: black;*/
/*}*/
/*#options_0{*/
/*    background-color: #000000;}*/
#options_0:hover{
    background-color: #000000;
    color: white;
}
/*#options_1{*/
/*    background-color: #DD0000;*/
/*}*/
#options_1:hover{
    background-color: #DD0000;
    color: white;
}
/*#options_2{*/
/*    background-color: #FFCE00;*/
/*}*/
#options_2:hover{
    background-color: #FFCE00;
    color: white;
}
#options{
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    /*color: #DD0000;*/
    left: 0;
    margin: auto;
    width: 70%;
    margin-top: 10px;
    /*border-width: 5px;*/
    /*box-shadow: -2px -2px 3px  #DD0000,2px 2px 3px   #000000;*/
    /*border: solid;/*/
    /*background-color: #FFCE00;*/
    padding: 10px;
}
#ask{
    padding-top: 50px;
    text-align: center;
    display: none;
    width: 70%;
    left: 0;
    margin: auto;
    color: #FFCE00;
    background-color: white;
    border: solid #DD0000cc 6px ;
    border-radius: 10px;
    box-shadow: -12px -12px 12px #000000, 12px 12px 12px #FFCE00;
    /*font-weight: bold;*/
    /*font-size: large;*/
}
#next{
    display: none;
    -webkit-appearance: none;
     /*box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px -5px 1px -2px rgba(0,0,0,0.05);*/
    /*background-color: #FFCE00;*/
    background-color: #d9d9d9;
    color: #3c6e71;
    border-radius: 5px;
    border-color: #d9d9d9;
    margin-bottom: 20px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}
#whatQuestions{
    left: 0%;
    right: 0%;
    margin: auto;
    width: 70%;
    text-align: center;
    border: solid;
    border-color: #DD0000;
    box-shadow:  -6px -6px 6px  #000000,6px -6px 6px  #000000, -6px 6px 6px  #000000,6px 6px 6px  #000000, inset -6px -6px 6px  #FFCE00, inset 6px -6px 6px  #FFCE00, inset -6px 6px 6px  #FFCE00, inset 6px 6px 6px  #FFCE00;
    border-width: 10px;
    padding-bottom: 20px;
    /*font-size: 17px;*/
    background-color: #ffffff;
    color: #3c6e71;
}

.verbIdentify{
    margin: 15px;
    border-width: 5px;
    /*border: solid #DD0000;*/
    /*box-shadow: 2px 2px 5px inset #DD0000;*/
    padding: 20px;
    background-color: #d9d9d9;
    color: #3c6e71;
   
}
#question{
    margin: auto;
    left: 0;
    border-radius: 10px;
    border-width: 5px;
    border: solid;
    padding: 20px;
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    /*box-shadow: -4px -4px 3px  #FFCE00,4px 4px 3px   #000000;*/
    color: #3c6e71;
    width: 40%;
    /*word-spacing: 10px;*/
}
#definition{
    margin: auto;
    left: 0;
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    border-width: 5px;
    /*box-shadow: -4px -4px 3px  #FFCE00,4px 4px 3px   #000000;*/
    border-color: #d9d9d9;
    /*border: solid;*/
    background-color: #d9d9d9;
    color: #3c6e71;
    padding: 20px;
}
label{
    margin: 10px;
    border-radius: 7px;
    border: 2px solid #d9d9d9;
    /*box-shadow: 1px 1px 1px inset #000000;*/
    border-color: white;
    padding: 5px;
    align-content: space-between 20px;
    display: inline-block;
    position: relative;
    background-color: #d9d9d9;
    color: #3c6e71;
}
legend{
    margin-bottom: 20px;
    color: #3c6e71;
}
.tenseType{
    border-top: dotted 2px #3c6e71;
    padding-top: 20px;
    text-decoration: underline;
}
.verbType{
    text-decoration: underline solid;
}
#oneByone{
    text-decoration: underline solid;
}
.checkbox{
   /* -webkit-appearance: none;*/
   margin: 2px;
   display: inline-block;
   position: relative;
   border-radius: 5px;
   cursor: pointer;
}
#start{
     -webkit-appearance: none;
     box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px -5px 1px -2px rgba(0,0,0,0.05);
    background-color: #d9d9d9;
    border-radius: 5px;
    border-color: #d9d9d9;
    color: #3c6e71;
    cursor: pointer;
    width: 80px;
    height: 30px;
}

select{
    color: #fdfaec;
    background-color: #000000;
    margin-bottom: 20px;
    box-shadow: 2px -2px 5px #DD0000;
}
#leftspace{
    width: 20%;
    float: left;
   
}
#rightspace{
    width: 20%;
    float: right;
 
}
#pageName{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
    width: 50%;
    left: 0;
    margin: auto;
    color: #DD0000;
    position: relative;
}
sup{
    font-size: 12px;
    position: absolute;
}
#langChoose a{
    text-decoration: none;
    font-size: 13px;
    color: #000000;
}
#langChoose{
    float: right;
   
}
#titlenav{
    font-weight: bolder;
    float: left;
    font-size: 20px;
    color: #DD0000;
    cursor: pointer;
}
#upline{
    background-color: #FFCE00;
    height: 35px;
    padding-left: 7px;
    padding-right: 7px;

}
#upline span{
    transform: translateY(30%);
}
#flag{
    width: 5%;
    position: absolute;
    margin-left: 20px;
    transform: translateY(50%);
}
section {
    display: block;
}
aside {
    display: block;
}
main{
    display: block;
}
#verb{
  font-weight: bolder;
}
#pronounverb{
    font-size: 1.2em;
}